<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="60000"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="cacheEnabled" value="true"/>
        <!-- 使用jdbc的getGeneratedKeys获取数据库自增主键值 -->
        <setting name="useGeneratedKeys" value="false"/>
        <!-- 开启驼峰命名转换:Table{create_time} -> Entity{createTime} -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.finance.model.pojo.Fund" alias="Fund"/>
        <typeAlias type="com.finance.model.pojo.FundNet" alias="FundNet"/>
        <typeAlias type="com.finance.model.pojo.Profit" alias="Profit"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.finance.interceptor.PageInterceptor">
            <property name="pageInterceptor" value="PageInterceptor"/>
        </plugin>
    </plugins>

</configuration>