<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.dao.FundDao">
    <resultMap id="BaseResultMap" type="com.finance.model.pojo.Fund">
        <id column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="UPDATERID" jdbcType="VARCHAR" property="updaterid"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>

    <sql id="Base_Column_List">
        CODE, NAME, TYPE
    </sql>

    <select id="findFunds" resultType="Fund">
        SELECT
        CODE, NAME, TYPE
        FROM FUND
        WHERE CODE IN ('020003','160706','151002','210009','502003','161725','502053')
    </select>

    <select id="findFundByCode" resultType="Integer" parameterType="String">
        SELECT
        COUNT(1)
        FROM FUND
        where CODE = #{code,jdbcType=VARCHAR}
    </select>

    <insert id="insertFund" parameterType="Fund">
        INSERT INTO
        FUND
        (
        CODE,
        NAME,
        TYPE,
        TYPE1,
        COMPANY_NAME,
        SUBJECT_NAME,
        FUND_SCALE,
        ESTABLISH_DATE,
        CXPJ,
        YHPJ,
        HTPJ,
        JAJXPJ,
        ZSPJ,
        UPDATERID,
        UPDATETIME
        )
        VALUES
        (
        #{code,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR},
        #{type1,jdbcType=VARCHAR},
        #{companyName,jdbcType=VARCHAR},
        #{subjectName,jdbcType=VARCHAR},
        #{fundScale,jdbcType=VARCHAR},
        #{establishDate,jdbcType=TIMESTAMP },
        #{cxpj,jdbcType=INTEGER},
        #{yhpj,jdbcType=INTEGER},
        #{htpj,jdbcType=INTEGER},
        #{jajxpj,jdbcType=INTEGER},
        #{zspj,jdbcType=INTEGER},
        'admin',
        NOW()
        )
    </insert>

    <update id="updateFund" parameterType="Fund">
        UPDATE
        FUND
        SET
        NAME = #{name,jdbcType=VARCHAR},
        TYPE = #{type,jdbcType=VARCHAR},
        TYPE1 = #{type1,jdbcType=VARCHAR},
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
        SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
        FUND_SCALE = #{fundScale,jdbcType=VARCHAR},
        ESTABLISH_DATE = #{establishDate,jdbcType=TIMESTAMP },
        CXPJ = #{cxpj,jdbcType=INTEGER},
        YHPJ = #{yhpj,jdbcType=INTEGER},
        HTPJ = #{htpj,jdbcType=INTEGER},
        JAJXPJ = #{jajxpj,jdbcType=INTEGER},
        ZSPJ = #{zspj,jdbcType=INTEGER},
        UPDATERID = 'admin',
        UPDATETIME = NOW()
        where CODE = #{code,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from fund
        where CODE = #{code,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="Fund">
        insert into fund (CODE, NAME, TYPE,
        UPDATERID, UPDATETIME)
        values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
        #{updaterid,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="Fund">
        insert into fund
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                CODE,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="updaterid != null">
                UPDATERID,
            </if>
            <if test="updatetime != null">
                UPDATETIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="updaterid != null">
                #{updaterid,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="Fund">
        update fund
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=VARCHAR},
            </if>
            <if test="updaterid != null">
                UPDATERID = #{updaterid,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where CODE = #{code,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="Fund">
        update fund
        set NAME = #{name,jdbcType=VARCHAR},
        TYPE = #{type,jdbcType=VARCHAR},
        UPDATERID = #{updaterid,jdbcType=VARCHAR},
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
        where CODE = #{code,jdbcType=VARCHAR}
    </update>
</mapper>