<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.dao.FundDao">
    
    <!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache">
         <property name="timeToIdleSeconds" value="3600"/>
         <property name="timeToLiveSeconds" value="3600"/>
         &lt;!&ndash; 同ehcache参数maxElementsInMemory &ndash;&gt;
         <property name="maxEntriesLocalHeap" value="1000"/>
         &lt;!&ndash; 同ehcache参数maxElementsOnDisk &ndash;&gt;
         <property name="maxEntriesLocalDisk" value="10000000"/>
         <property name="memoryStoreEvictionPolicy" value="LRU"/>
     </cache>-->
    
    <resultMap id="BaseResultMap" type="com.finance.model.pojo.FundDO">
        <id column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="UPDATERID" jdbcType="VARCHAR" property="updaterId"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        CODE, NAME, TYPE
    </sql>
    
    <select id="findFunds" resultType="FundDO">
        SELECT
        CODE, NAME, TYPE
        FROM FUND
    </select>
    
    <insert id="insertFund" parameterType="FundDO">
        INSERT INTO
        FUND
        (
        CODE,
        NAME,
        TYPE,
        TYPE1,
        COMPANY_NAME,
        SUBJECT_NAME,
        FUND_SCALE,
        ESTABLISH_DATE,
        CXPJ,
        YHPJ,
        HTPJ,
        JAJXPJ,
        ZSPJ,
        UPDATERID,
        UPDATETIME
        )
        VALUES
        (
        #{code,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR},
        #{type1,jdbcType=VARCHAR},
        #{companyName,jdbcType=VARCHAR},
        #{subjectName,jdbcType=VARCHAR},
        #{fundScale,jdbcType=VARCHAR},
        #{establishDate,jdbcType=TIMESTAMP },
        #{cxpj,jdbcType=INTEGER},
        #{yhpj,jdbcType=INTEGER},
        #{htpj,jdbcType=INTEGER},
        #{jajxpj,jdbcType=INTEGER},
        #{zspj,jdbcType=INTEGER},
        #{updaterId,jdbcType=VARCHAR},
        NOW()
        )
    </insert>
    
    <update id="updateFund" parameterType="FundDO">
        UPDATE
        FUND
        SET
        NAME = #{name,jdbcType=VARCHAR},
        TYPE = #{type,jdbcType=VARCHAR},
        TYPE1 = #{type1,jdbcType=VARCHAR},
        COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
        SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
        FUND_SCALE = #{fundScale,jdbcType=VARCHAR},
        ESTABLISH_DATE = #{establishDate,jdbcType=TIMESTAMP },
        CXPJ = #{cxpj,jdbcType=INTEGER},
        YHPJ = #{yhpj,jdbcType=INTEGER},
        HTPJ = #{htpj,jdbcType=INTEGER},
        JAJXPJ = #{jajxpj,jdbcType=INTEGER},
        ZSPJ = #{zspj,jdbcType=INTEGER},
        UPDATERID = #{updaterId,jdbcType=VARCHAR},
        UPDATETIME = NOW()
        where CODE = #{code,jdbcType=VARCHAR}
    </update>
    
    <insert id="batchInsertFund" parameterType="java.util.List">
        INSERT INTO
        FUND
        (
        CODE,
        NAME,
        TYPE,
        TYPE1,
        COMPANY_NAME,
        SUBJECT_NAME,
        FUND_SCALE,
        ESTABLISH_DATE,
        CXPJ,
        YHPJ,
        HTPJ,
        JAJXPJ,
        ZSPJ,
        UPDATERID,
        UPDATETIME
        )
        VALUES
        <foreach collection="list" item="fund" separator=",">
            (
            #{fund.code,jdbcType=VARCHAR},
            #{fund.name,jdbcType=VARCHAR},
            #{fund.type,jdbcType=VARCHAR},
            #{fund.type1,jdbcType=VARCHAR},
            #{fund.companyName,jdbcType=VARCHAR},
            #{fund.subjectName,jdbcType=VARCHAR},
            #{fund.fundScale,jdbcType=VARCHAR},
            #{fund.establishDate,jdbcType=TIMESTAMP },
            #{fund.cxpj,jdbcType=INTEGER},
            #{fund.yhpj,jdbcType=INTEGER},
            #{fund.htpj,jdbcType=INTEGER},
            #{fund.jajxpj,jdbcType=INTEGER},
            #{fund.zspj,jdbcType=INTEGER},
            #{fund.updaterId,jdbcType=VARCHAR},
            NOW()
            )
        </foreach>
    </insert>
    
    <update id="batchUpdateFund" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE
            FUND
            SET
            NAME = #{item.name,jdbcType=VARCHAR},
            TYPE = #{item.type,jdbcType=VARCHAR},
            TYPE1 = #{item.type1,jdbcType=VARCHAR},
            COMPANY_NAME = #{item.companyName,jdbcType=VARCHAR},
            SUBJECT_NAME = #{item.subjectName,jdbcType=VARCHAR},
            FUND_SCALE = #{item.fundScale,jdbcType=VARCHAR},
            ESTABLISH_DATE = #{item.establishDate,jdbcType=TIMESTAMP },
            CXPJ = #{item.cxpj,jdbcType=INTEGER},
            YHPJ = #{item.yhpj,jdbcType=INTEGER},
            HTPJ = #{item.htpj,jdbcType=INTEGER},
            JAJXPJ = #{item.jajxpj,jdbcType=INTEGER},
            ZSPJ = #{item.zspj,jdbcType=INTEGER},
            UPDATERID = #{item.updaterId,jdbcType=VARCHAR},
            UPDATETIME = NOW()
            where CODE = #{item.code,jdbcType=VARCHAR}
        </foreach>
    </update>
    
    <insert id="insertOrUpdateFundData" parameterType="FundDO">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            SELECT COUNT(1) FROM FUND WHERE CODE = #{code,jdbcType=VARCHAR}
        </selectKey>
        <if test="count > 0">
            UPDATE
            FUND
            SET
            NAME = #{name,jdbcType=VARCHAR},
            TYPE = #{type,jdbcType=VARCHAR},
            TYPE1 = #{type1,jdbcType=VARCHAR},
            COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
            SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
            FUND_SCALE = #{fundScale,jdbcType=VARCHAR},
            ESTABLISH_DATE = #{establishDate,jdbcType=TIMESTAMP },
            CXPJ = #{cxpj,jdbcType=INTEGER},
            YHPJ = #{yhpj,jdbcType=INTEGER},
            HTPJ = #{htpj,jdbcType=INTEGER},
            JAJXPJ = #{jajxpj,jdbcType=INTEGER},
            ZSPJ = #{zspj,jdbcType=INTEGER},
            UPDATERID = #{updaterId,jdbcType=VARCHAR},
            UPDATETIME = NOW()
            WHERE
            CODE = #{code,jdbcType=VARCHAR}
        </if>
        <if test="count == 0">
            INSERT INTO
            FUND
            (
            CODE,
            NAME,
            TYPE,
            TYPE1,
            COMPANY_NAME,
            SUBJECT_NAME,
            FUND_SCALE,
            ESTABLISH_DATE,
            CXPJ,
            YHPJ,
            HTPJ,
            JAJXPJ,
            ZSPJ,
            UPDATERID,
            UPDATETIME
            )
            VALUES
            (
            #{code,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{type,jdbcType=VARCHAR},
            #{type1,jdbcType=VARCHAR},
            #{companyName,jdbcType=VARCHAR},
            #{subjectName,jdbcType=VARCHAR},
            #{fundScale,jdbcType=VARCHAR},
            #{establishDate,jdbcType=TIMESTAMP },
            #{cxpj,jdbcType=INTEGER},
            #{yhpj,jdbcType=INTEGER},
            #{htpj,jdbcType=INTEGER},
            #{jajxpj,jdbcType=INTEGER},
            #{zspj,jdbcType=INTEGER},
            #{updaterId,jdbcType=VARCHAR},
            NOW()
            )
        </if>
    </insert>
    
    <insert id="batchInsertOrUpdateFundData" parameterType="FundDO">
        INSERT INTO
        FUND
        (CODE,NAME,TYPE,TYPE1,COMPANY_NAME,SUBJECT_NAME,FUND_SCALE,ESTABLISH_DATE,CXPJ,YHPJ,HTPJ,JAJXPJ,ZSPJ,UPDATERID,UPDATETIME)
        VALUES
        <foreach collection="list" item="fund" separator=",">
            (
            #{fund.code,jdbcType=VARCHAR},
            #{fund.name,jdbcType=VARCHAR},
            #{fund.type,jdbcType=VARCHAR},
            #{fund.type1,jdbcType=VARCHAR},
            #{fund.companyName,jdbcType=VARCHAR},
            #{fund.subjectName,jdbcType=VARCHAR},
            #{fund.fundScale,jdbcType=VARCHAR},
            #{fund.establishDate,jdbcType=TIMESTAMP },
            #{fund.cxpj,jdbcType=INTEGER},
            #{fund.yhpj,jdbcType=INTEGER},
            #{fund.htpj,jdbcType=INTEGER},
            #{fund.jajxpj,jdbcType=INTEGER},
            #{fund.zspj,jdbcType=INTEGER},
            #{fund.updaterId,jdbcType=VARCHAR},
            NOW()
            )
        </foreach>
        ON DUPLICATE KEY
        UPDATE
        NAME = values(NAME),
        TYPE = values(TYPE),
        TYPE1 = values(TYPE1),
        COMPANY_NAME = values(COMPANY_NAME),
        SUBJECT_NAME = values(SUBJECT_NAME),
        FUND_SCALE = values(FUND_SCALE),
        ESTABLISH_DATE = values(ESTABLISH_DATE),
        CXPJ = values(CXPJ),
        YHPJ = values(YHPJ),
        HTPJ = values(HTPJ),
        JAJXPJ = values(JAJXPJ),
        ZSPJ = values(ZSPJ),
        UPDATERID = values(UPDATERID),
        UPDATETIME = NOW()
    </insert>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from fund
        where CODE = #{code,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="FundDO">
        insert into fund (CODE, NAME, TYPE,
        UPDATERID, UPDATETIME)
        values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
        #{updaterid,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="FundDO">
        insert into fund
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">
                CODE,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="updaterid != null">
                UPDATERID,
            </if>
            <if test="updatetime != null">
                UPDATETIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="updaterid != null">
                #{updaterid,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="FundDO">
        update fund
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=VARCHAR},
            </if>
            <if test="updaterid != null">
                UPDATERID = #{updaterid,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where CODE = #{code,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="FundDO">
        update fund
        set NAME = #{name,jdbcType=VARCHAR},
        TYPE = #{type,jdbcType=VARCHAR},
        UPDATERID = #{updaterid,jdbcType=VARCHAR},
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP}
        where CODE = #{code,jdbcType=VARCHAR}
    </update>
</mapper>